<div class='photo-card'>
    <a href='{{largeImageURL}}'>
        <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' />
    </a>
    <div class='info'>
        <p class='info-item'>
            <b>Likes</b>
            {{likes}}
        </p>
        <p class='info-item'>
            <b>Views</b>
            {{views}}
        </p>
        <p class='info-item'>
            <b>Comments</b>
            {{comments}}
        </p>
        <p class='info-item'>
            <b>Downloads</b>
            {{downloads}}
        </p>
    </div>
</div> 


<li class="photo-card">
    <a class="photo-card-link" href="${image.largeImageURL}">
        <img class="galery-card-img" src="${image.webformatURL}" alt="${image.tags}" loading="lazy" /> 
        <div class="info">
            <p class="info-item">
                <b>Likes:</b> ${image.likes}
            </p>
            <p class="info-item">
                <b>Views:</b> ${image.views}
            </p>
            <p class="info-item">
                <b>Comments:</b> ${image.comments}
            </p>
            <p class="info-item">
                <b>Downloads:</b> ${image.downloads}
            </p>
        </div>
    </a>
</li>